<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="../std/">HOSTEL</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="../user/">Home <span class="sr-only">(current)</span></a>
          </li>
          
          
             
          </li>
          
        </ul>
        
      </div>
    </nav>
    <br><br><br><br><br>
    <form action="../applymess/" method="post">{% csrf_token %}
    <div class="form-check h3" style="position :relative;left:40% ;">
      <input class="form-check-input" type="radio" name="exampleRadios1" id="exampleRadios1" value="1"  >
      <label class="form-check-label" for="exampleRadios1">
        1 month mess for 3000Rs
      </label>
    </div>
    <div class="form-check h3" style="position :relative;left:40% ;">
      <input class="form-check-input" type="radio" name="exampleRadios6" id="exampleRadios2" value="6" >
      <label class="form-check-label" for="exampleRadios2">
        6 month mess for 18000Rs
      </label>
    </div>
    <div class="form-check  h3" style="position :relative;left:40% ;" >
      <input class="form-check-input" type="radio" name="exampleRadios12" id="exampleRadios3" value="12">
      <label class="form-check-label" for="exampleRadios3">
        12 months mess for 36000Rs
      </label>
    </div>
    <button type="submit" class="btn btn-primary" style="position :relative;left:40% ;top:25px; ">Submit and Pay</button>
  </form>
  
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
</html>
